.nav {
	grid-area: nav;
	background: forestgreen;
	padding: 15px;
}
.item {
	color: #fff;
	margin: 10px 0;
}
.item a.active {
	color: gold;
	font-weight: bold;
}
.item a {
	color: #fff;
	text-decoration: none;
}
