.item {
	margin: 15px 0;
	display: grid;
	grid-template-areas: "i t" 
						'likes'	;
	grid-template-columns: 100px 1fr;
}
.img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	overflow: hidden;
}
.item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
