* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
	max-width: 100%;
	display: block;
}
.social-wrapper {
	display: grid;
	grid-template-areas: "header header header"
						"nav main main";
	grid-template-columns: 300px 1fr;
	max-width: 900px;
	margin: auto;
}


.main {
	grid-area: main;
	padding: 0 0 0 15px;
}

